aioredis==0.3.1
amqp==2.1.4
asyncio-redis==0.14.3
billiard==3.5.0.2
celery==4.0.2
circuitbreaker==1.0.1
click==6.7
Flask==0.12.2
Flask-Autodoc==0.1.2
hiredis==0.2.0
itsdangerous==0.24
Jinja2==2.9.6
kombu==4.0.2
MarkupSafe==1.0
nose==1.1.2
pep8==1.7.0
pubsub==0.1.2
pytz==2017.2
redis==2.10.5
requests==2.14.2
six==1.10.0
vine==1.1.3
websockets==3.3
Werkzeug==0.12.2
